---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<MainLayout>
  <section id="section-one-wrapper" class="section-wrapper">
    <header class="flex justify-between">
      <div id="logo" class="flex items-center">
        <div class="logo-svg rounded-[25px] flex justify-center items-center">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 58 58"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_210_34)">
              <path
                d="M33 0H25C11.1929 0 0 11.1929 0 25V33C0 46.8071 11.1929 58 25 58H33C46.8071 58 58 46.8071 58 33V25C58 11.1929 46.8071 0 33 0Z"
                fill="black"></path>
              <g clip-path="url(#clip1_210_34)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M14 20C14 16.6863 16.6863 14 20 14H28V22C28 25.3137 25.3137 28 22 28H14V20Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M44 38C44 41.3137 41.3137 44 38 44H30V36C30 32.6863 32.6863 30 36 30H44V38Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20 44C16.6863 44 14 41.3137 14 38V30H22C25.3137 30 28 32.6863 28 36V44H20Z"
                  fill="white"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M38 14C41.3137 14 44 16.6863 44 20V28H36C32.6863 28 30 25.3137 30 22V14H38Z"
                  fill="white"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_210_34">
                <rect width="58" height="58" fill="white"></rect>
              </clipPath>
              <clipPath id="clip1_210_34">
                <rect
                  width="30"
                  height="30"
                  fill="white"
                  transform="translate(14 14)"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="logo-text">‎ Rasp AI.</div>
      </div>
      <button class="try-beta button"> Try Beta Version</button>
    </header>
    <div class="section section-one" class="max-h-screen px-8">
      <h1 class="hero hidden">Generative Al
powered platform </h1>
      <div id="left-one" class="flex flex-col justify-between">
        <h1 class="hero">Generative Al <br /> powered platform</h1>
        <div class="left-bottom-one  gap-3">
          <div class="left-bottom-one-content w-full  gap-3">
            <div
              class="left-bottom-one-video flex flex-col self-end basis-[49%]"
            >
              <h2 class="hero inline-block">Watch Demo</h2>
              <svg
                max-width="520"
                viewBox="0 0 520 320"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <rect width="520" height="320" rx="32" fill="#F7F9FF"></rect>
                <circle
                  cx="260"
                  cy="181"
                  r="50"
                  fill="url(#paint0_linear_96_2122)"></circle>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M266.422 179.211C267.896 179.948 267.896 182.052 266.422 182.789L254.894 188.553C253.565 189.218 252 188.251 252 186.764V175.236C252 173.749 253.565 172.782 254.894 173.447L266.422 179.211Z"
                  fill="black"></path>
                <circle cx="36" cy="36" r="6" fill="#E7E2F0"></circle>
                <circle opacity="0.5" cx="54" cy="36" r="6" fill="#C1E8FF"
                ></circle>
                <circle opacity="0.5" cx="72" cy="36" r="6" fill="#D8D8D8"
                ></circle>
                <defs>
                  <linearGradient
                    id="paint0_linear_96_2122"
                    x1="185.246"
                    y1="198.843"
                    x2="268.525"
                    y2="253.923"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop stop-color="#D2EEFE"></stop>
                    <stop offset="0.589024" stop-color="#F0F0FF"></stop>
                    <stop offset="1" stop-color="#F7E9FE"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </div>
            <div class="left-bottom-one-tabs basis-[49%]">
              <h2 class="hero">Values</h2>
              <div class="card mb-3">
                <div class="icon-and-h2 flex items-center gap-3">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <rect
                      x="1"
                      y="1"
                      width="22"
                      height="22"
                      rx="4"
                      fill="#161516"></rect>
                    <path
                      d="M7.03516 8.72217L5.10547 10.6525L7.03516 12.5822"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M16.9199 11.6973L18.8379 13.6159L16.9199 15.5338"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M10.3906 16.2925L13.5519 7.70752"
                      stroke="white"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </svg>
                  <h2>Develop faster</h2>
                </div>
                <p>
                  RASP outputs quality Swift and Java code, so you can save on
                  development time.
                </p>
              </div>
              <div class="card mb-3">
                <div class="icon-and-h2 flex items-center gap-3">
                  <img src="icon-2.svg" alt="" />
                  <h2>Build better products</h2>
                </div>
                <p>
                  With all this saved time, you can focus on user testing and
                  get better products and better revenue
                </p>
              </div>
              <div class="card">
                <div class="icon-and-h2 flex items-center gap-3">
                  <img src="icon-3.svg" alt="" />
                  <h2>Build design faster</h2>
                </div>
                <p>
                  Just text RASP your edits and see implementation in real-time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        id="right-one"
        class="flex relative items-center justify-center rounded-3xl"
      >
        <div id="loading-phone" class="flex justify-between">
          <h3>Performing interface development…</h3>
          <img src="layer-3d.png" alt="" srcset="" />
        </div>
        <div class="rounded-3xl iphone">
          <img src="Group 271.svg" alt="" srcset="" />
        </div>
      </div>
    </div>
  </section>
  <section id="section-two-wrapper" class="section-wrapper">
    <h1 class="section-heading">Features</h1>
    <div class="section">
      <div class="left-bottom-two grid-container">
        <div class="grid-item grid-item-1">
          <h2 class="grid-item-heading icon-and-h2">Real-time edits</h2>
          <p>Just text RASP your edits and see implementation in real-time.</p>
        </div>
        <div class="grid-item grid-item-2">
          <h2 class="grid-item-heading icon-and-h2">Export in Figma</h2>
          <p>
            For sophisticated users, feel free to export design to Figma and
            edit it the way you want.
          </p>
          <button class="blacked">
            <!-- <img class="icon" src="public/" alt=""> -->
            <svg
              width="60"
              height="60"
              viewBox="0 0 60 60"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="60" height="60" rx="29" fill="white"></rect>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15 21C15 17.6863 17.6863 15 21 15H29V22.8648C29 26.1785 26.3137 28.8648 23 28.8648H15L15 21Z"
                fill="black"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M45 38.71C45 42.0237 42.3137 44.71 39 44.71H31L31 36.8452C31 33.5315 33.6863 30.8452 37 30.8452L45 30.8452L45 38.71Z"
                fill="black"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M21 44.71C17.6863 44.71 15 42.0237 15 38.71L15 30.8452L23 30.8452C26.3137 30.8452 29 33.5315 29 36.8452L29 44.71L21 44.71Z"
                fill="black"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M39 15C42.3137 15 45 17.6863 45 21V28.8648L37 28.8648C33.6863 28.8648 31 26.1785 31 22.8648L31 15L39 15Z"
                fill="black"></path>
            </svg>
            <span class="grow text-center">NOT READY YET</span>
          </button>
        </div>
        <div class="grid-item grid-item-3">
          <div class="icon-holder-for-item-3 flex grow">
            <div class="icon-holder-deep w-full flex gap-4 self-start">
              <img
                class="basis-[30%] min-w-[60px]"
                src="bird.svg"
                alt=""
              />
              <img
                class="basis-[30%] min-w-[60px]"
                src="Java.svg"
                alt=""
              />
            </div>
          </div>
          <h2 class="grid-item-heading">Export to Swift/Java.</h2>
          <p>
            For sophisticated users, feel free to export design to Figma and
            edit it the way you want
          </p>
        </div>
        <div class="grid-item grid-item-4">
          <h2 class="grid-item-heading">Instant prototypes</h2>
          <p>
            Because RASP is powered by code, you get prototype automatically.
          </p>
        </div>
      </div>
      <div
        id="right-one"
        class="flex only-desktop relative items-center justify-center rounded-3xl"
      >
        <div id="loading-phone" class="flex justify-between">
          <h3>Performing interface development…</h3>
          <img src="layer-3d.png" alt="" srcset="" />
        </div>
        <div class="rounded-3xl iphone">
          <img src="Group 271.svg" alt="" srcset="" />
        </div>
      </div>
    </div>
    <button class="blacked hidden not-absolute">
      <!-- <img class="icon" src="public/" alt=""> -->
      <svg
        width="60"
        height="60"
        viewBox="0 0 60 60"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="60" height="60" rx="29" fill="white"></rect>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15 21C15 17.6863 17.6863 15 21 15H29V22.8648C29 26.1785 26.3137 28.8648 23 28.8648H15L15 21Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M45 38.71C45 42.0237 42.3137 44.71 39 44.71H31L31 36.8452C31 33.5315 33.6863 30.8452 37 30.8452L45 30.8452L45 38.71Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21 44.71C17.6863 44.71 15 42.0237 15 38.71L15 30.8452L23 30.8452C26.3137 30.8452 29 33.5315 29 36.8452L29 44.71L21 44.71Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M39 15C42.3137 15 45 17.6863 45 21V28.8648L37 28.8648C33.6863 28.8648 31 26.1785 31 22.8648L31 15L39 15Z"
          fill="black"></path>
      </svg>
      <span class="grow text-center">Try Beta Version</span>
    </button>
  </section>
  <section id="section-three-wrapper" class="section-wrapper">
    <h1 class="section-heading">Platform Walkthrough </h1>
    <div class="flex-container-walkthrough flex gap-4 grow">
      <div class="walkfru-item walkfru-1">
        <div class="walkfru-h2-and-text">
          <h2 class="grid-item-heading  icon-and-h2">Import references</h2>
          <p>To make the app follow your requirements, you can import any screenshots of other apps, styles. Or your design system from Figma or Swift/Java component library</p>
        </div>
      </div>
      <div class="walkfru-item walkfru-2">
        <div class="walkfru-h2-and-text self-end">
          <h2 class="grid-item-heading  icon-and-h2">Build and edit user flows</h2>
          <p class="">Rather than just creating screens, create and edit user flows and let RASP handle the UI to solve for them. We build a full app for you, not one screen.</p>
        </div>
      </div>
      <div class="walkfru-item walkfru-3">
        <div class="walkfru-h2-and-text">
          <h2 class="grid-item-heading  icon-and-h2">Real-time edits and UI mockups</h2>
          <p class="">Just text RASP your edits and see implementation in real-time with great UI mockups</p>
        </div>
      </div>
      <div class="walkfru-item walkfru-4">
        <div class="walkfru-h2-and-text self-end">
          <h2 class="grid-item-heading  icon-and-h2">Export to Figma</h2>
          <p class="">Export your mockups to Figma to refine. They're fully editable in Figma. Or Swift. Or Java</p>
        </div>
      </div>
    </div>
  </section>
  <!--  TODO last section -->
  <section class="section-wrapper section-wrapper-4 relative flex max-w-[1920px] mx-auto ">

    <div class="section-3-left basis-full flex-col flex">
      <p class="p-magnified">
        “This is an incredible tool for Product Managers. We usually spend not enough
      </p>
 <h2>
  time on user tests, but with RASP we can focus on
 </h2>
 <p class="p-magnified">
  deeper research and competitive differentiation rather than on routine project management.“
 </p>

 <!-- TODO here button should be furhter from the bottom and no bottom padding should be applied to this section -->
 <button class="blacked only-desktop not-absolute">
  <!-- <img class="icon" src="public/" alt=""> -->
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="60" height="60" rx="29" fill="white"></rect>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15 21C15 17.6863 17.6863 15 21 15H29V22.8648C29 26.1785 26.3137 28.8648 23 28.8648H15L15 21Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M45 38.71C45 42.0237 42.3137 44.71 39 44.71H31L31 36.8452C31 33.5315 33.6863 30.8452 37 30.8452L45 30.8452L45 38.71Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21 44.71C17.6863 44.71 15 42.0237 15 38.71L15 30.8452L23 30.8452C26.3137 30.8452 29 33.5315 29 36.8452L29 44.71L21 44.71Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39 15C42.3137 15 45 17.6863 45 21V28.8648L37 28.8648C33.6863 28.8648 31 26.1785 31 22.8648L31 15L39 15Z"
      fill="black"></path>
  </svg>
  <span class="grow text-center">NOT READY YET</span>
</button>
<button class="blacked hidden not-absolute">
  <!-- <img class="icon" src="public/" alt=""> -->
  <svg
    width="60"
    height="60"
    viewBox="0 0 60 60"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="60" height="60" rx="29" fill="white"></rect>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M15 21C15 17.6863 17.6863 15 21 15H29V22.8648C29 26.1785 26.3137 28.8648 23 28.8648H15L15 21Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M45 38.71C45 42.0237 42.3137 44.71 39 44.71H31L31 36.8452C31 33.5315 33.6863 30.8452 37 30.8452L45 30.8452L45 38.71Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M21 44.71C17.6863 44.71 15 42.0237 15 38.71L15 30.8452L23 30.8452C26.3137 30.8452 29 33.5315 29 36.8452L29 44.71L21 44.71Z"
      fill="black"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M39 15C42.3137 15 45 17.6863 45 21V28.8648L37 28.8648C33.6863 28.8648 31 26.1785 31 22.8648L31 15L39 15Z"
      fill="black"></path>
  </svg>
  <span class="grow text-center">Try Beta Version</span>
</button>
    </div>
  <div class="section-3-right basis-full flex">
    <div class="phone-image-container overflow-hidden">
     <img class='object-cover' src='Untitled-2.png'>
    </div>


  </div>

  </section>
  <footer class="footer flex justify-between items-center">
    <p>© 2023 All rights reserved.</p>
    <div class="footer-svgs flex gap-2">
      <div class="footer-svg svg-1"><img src="footer-svg-1.svg" alt=""> </div>
      <div class="footer-svg svg-2"> <img src="footer-svg-2.svg" alt="">  </div>
      <div class="footer-svg svg-3"> <img src="footer-svg-3.svg" alt=""></div>
      <div class="footer-svg svg-4"> <img src="footer-svg-4.png" alt=""></div>
    </div>
  </footer>
  <!-- <script>
    // Lenis Smooth Scroll
    import Lenis from "@studio-freight/lenis";

    const lenis = new Lenis({
      smoothWheel: true,
      smoothTouch: true,
      duration: 2.5,
    });

    lenis.on("scroll", (e) => {
      console.log(e);
    });

    function raf(time) {
      lenis.raf(time);
      requestAnimationFrame(raf);
    }

    requestAnimationFrame(raf);

    //GSAP AND SCROLL TRIGGER
    import { gsap, ScrollTrigger, Draggable } from "gsap/all"; -->
  </script>
</MainLayout>



